In [ ]:
# Test Database: server=69.199.10.87,51512;Database=Retail;User ID=retail;Password=asfa0Aasdjfasdf;

In [1]:
import pymssql
import pandas as pd

In [2]:
# Setting up a connection with the database
conn = pymssql.connect(server="69.199.10.87",    
                     user="retail",         
                     password="asfa0Aasdjfasdf",  
                     database="Retail",
                    port = 51512)

In [3]:
# Reading table schema as a pandas df
df = pd.read_sql("""SELECT * FROM sys.Tables""",conn)

In [5]:
df

,name,object_id,principal_id,schema_id,parent_object_id,type,type_desc,create_date,modify_date,is_ms_shipped,...,has_unchecked_assembly_data,text_in_row_limit,large_value_types_out_of_row,is_tracked_by_cdc,lock_escalation,lock_escalation_desc,is_filetable,is_memory_optimized,durability,durability_desc
0,OrderRegions,18099105,None,1,0,U,USER_TABLE,2017-10-27 15:12:51.003,2017-10-27 15:12:51.003,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
1,Orders,34099162,None,1,0,U,USER_TABLE,2017-10-27 15:12:51.010,2017-10-27 15:12:59.483,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
2,Products,82099333,None,1,0,U,USER_TABLE,2017-10-27 15:12:51.013,2017-10-27 15:12:59.543,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
3,Region,194099732,None,1,0,U,USER_TABLE,2017-10-27 15:12:51.020,2017-10-27 15:12:59.500,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
4,Shippers,210099789,None,1,0,U,USER_TABLE,2017-10-27 15:12:51.023,2017-10-27 15:12:59.483,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
5,Suppliers,242099903,None,1,0,U,USER_TABLE,2017-10-27 15:12:51.027,2017-10-27 15:12:59.497,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
6,Categories,245575913,None,1,0,U,USER_TABLE,2017-10-27 15:12:50.627,2017-10-27 15:12:59.493,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
7,Territories,274100017,None,1,0,U,USER_TABLE,2017-10-27 15:12:51.030,2017-10-27 15:12:59.500,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
8,Customers,277576027,None,1,0,U,USER_TABLE,2017-10-27 15:12:50.640,2017-10-27 15:12:59.477,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
9,Employees,309576141,None,1,0,U,USER_TABLE,2017-10-27 15:12:50.647,2017-10-27 15:12:59.510,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
10,EmployeeTerritories,341576255,None,1,0,U,USER_TABLE,2017-10-27 15:12:50.650,2017-10-27 15:12:59.400,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
11,EmpTest,978102525,None,1,0,U,USER_TABLE,2018-02-28 04:41:08.390,2018-02-28 04:41:52.707,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA
12,Order Details,2085582468,None,1,0,U,USER_TABLE,2017-10-27 15:12:51.000,2017-10-27 15:12:59.527,False,...,False,0,False,False,0,TABLE,False,False,0,SCHEMA_AND_DATA

In [4]:
# Storing all the 13 tables in a dictionary
table_dict = {}

for db in list(df['name']):
    print(db)
    table_dict[db] = pd.read_sql('SELECT * FROM "{}"'.format(db),conn)
    table_dict[db].to_csv('sample_data/{}.csv'.format(db))

OrderRegions
Orders
Products
Region
Shippers
Suppliers
Categories
Territories
Customers
Employees
EmployeeTerritories
EmpTest
Order Details

In [7]:
table_dict.keys()

dict_keys(['OrderRegions', 'Orders', 'Products', 'Region', 'Shippers', 'Suppliers', 'Categories', 'Territories', 'Customers', 'Employees', 'EmployeeTerritories', 'EmpTest', 'Order Details'])

In [ ]:
# To visualise the contents of each table

In [41]:
test = table_dict['Order Details']

In [42]:
test.shape

(2231, 5)

In [45]:
test

      OrderID  ProductID  UnitPrice  Quantity  Discount
0       10248         11      14.00        12      0.00
1       10248         42       9.80        10      0.00
2       10248         72      34.80         5      0.00
3       10249         14      18.60         9      0.00
4       10249         51      42.40        40      0.00
5       10250         41       7.70        10      0.00
6       10250         51      42.40        35      0.15
7       10250         65      16.80        15      0.15
8       10251         22      16.80         6      0.05
9       10251         57      15.60        15      0.05
10      10251         65      16.80        20      0.00
11      10252         20      64.80        40      0.05
12      10252         33       2.00        25      0.05
13      10252         60      27.20        40      0.00
14      10253         31      10.00        20      0.00
15      10253         39      14.40        42      0.00
16      10253         49      16.00        40      0.00
17      10254         24       3.60        15      0.15
18      10254         55      19.20        21      0.15
19      10254         74       8.00        21      0.00
20      10255          2      15.20        20      0.00
21      10255         16      13.90        35      0.00
22      10255         36      15.20        25      0.00
23      10255         59      44.00        30      0.00
24      10256         53      26.20        15      0.00
25      10256         77      10.40        12      0.00
26      10257         27      35.10        25      0.00
27      10257         39      14.40         6      0.00
28      10257         77      10.40        15      0.00
29      10258          2      15.20        50      0.20
...       ...        ...        ...       ...       ...
2201    11076          6      25.00        20      0.25
2202    11076         11      14.00        12      0.00
2203    11076         14      23.25        20      0.25
2204    11076         19       9.20        10      0.25
2205    11077          2      19.00        24      0.20
2206    11077          3      10.00         4      0.00
2207    11077          4      22.00         1      0.00
2208    11077          6      25.00         1      0.02
2209    11077          7      30.00         1      0.05
2210    11077          8      40.00         2      0.10
2211    11077         10      31.00         1      0.00
2212    11077         11      14.00        12      0.00
2213    11077         12      38.00         2      0.05
2214    11077         13       6.00         4      0.00
2215    11077         14      23.25         1      0.03
2216    11077         16      17.45         2      0.03
2217    11077         20      81.00         1      0.04
2218    11077         23       9.00         2      0.00
2219    11077         32      32.00         1      0.00
2220    11077         39      18.00         2      0.05
2221    11077         41       9.65         3      0.00
2222    11077         46      12.00         3      0.02
2223    11077         52       7.00         2      0.00
2224    11077         55      24.00         2      0.00
2225    11077         60      34.00         2      0.06
2226    11077         64      33.25         2      0.03
2227    11077         66      17.00         1      0.00
2228    11077         73      15.00         2      0.01
2229    11077         75       7.75         4      0.00
2230    11077         77      13.00         2      0.00

[2231 rows x 5 columns]